@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/400-italic.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/700.css";

:root {
  --font-size-base: 16px;
  --font-display: "IBM Plex Sans", "Segoe UI Variable", "Segoe UI", "Tahoma", "Verdana", "Arial", "Noto Sans", sans-serif;
  --font-body: var(--font-display);
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: var(--font-size-base);
  font-family: var(--font-body);
  -webkit-user-select: none; /* Safari, Chrome, and Tauri Webviews */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE11/Edge */
  user-select: none;         /* Standard */
}
